body {
    font-family: 'Raleway', regular;
}

#home {
    position: relative;
    top: 20%;
}

.button{
    width: 80px;
    display: block;
    margin:auto;
    background-color: #3495eb;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    cursor: pointer;
}

.button:hover {
    background-color: #0058a6;
}


h1 {
    text-align: center;
    font-size: 64px;
}