body {
    font-family: 'Raleway', regular;
    overflow: hidden;
    background-color: #D9FFDF
}

#home {
    position: relative;
    top: 10%;
}

.button{
    width: 200px;
    display: block;
    margin:auto;
    background-color: #addbf1;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    cursor: pointer;
    font-weight: bold;
}

.buttonpopup{
    width: 95px;
    display: block;
    margin:auto;
    background-color: #addbf1;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    cursor: pointer;
    font-weight: bold;
}

.blocksplash{
    width: 300px;
    display: block;
    margin: auto;
    background-color: #addbf1;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
}

.blockgame{
    width: 600px;
    height: 30px;
    display: block;
    margin: auto;
    background-color: #addbf1;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    text-align:center;
}

.blocktime{
    width: 250px;
    height: 30px;
    display: block;
    margin: auto;
    background-color: #addbf1;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

.font1{
    font-size: 17px;
    font-weight: normal;
}

.button:hover {
    background-color: #94cce6;
}

h1 {
    text-align: center;
    font-size: 64px;
}

.boardbutton{
    display: block;
    width: 60px;
    height: 60px;
    background: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 50%;
}

#boardbutton1{
    display: block;
    width: 40px;
    height: 40px;
    background: #FFF9AA;
    border-radius: 50%;
    float: left;
}
#boardbutton2{
    display: block;
    width: 40px;
    height: 40px;
    background: #FFB9B3;
    border-radius: 50%;
    float: right;
}

.red {
    background: #FFB9B3;
}

.yellow{
    background: #FFF9AA;
}

#boardtable {
    margin: auto;
    background-color: #addbf1;
    padding: 20px;
    display: table;
    border-radius: 10%;
}

#boardtable tr {
    display: table-cell;
}

#boardtable tr:hover {
    background-color: #88c6fd;
}

#board {
    margin: auto; 
}

#time {
    margin-top: 10px;
    text-align:center;
}

.popup{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    background-color: #000000;
    color: white;
    opacity: 50%;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

#fullScreen {
    background-color: #addbf1;
    position: absolute;
    right:    0;
    bottom:   0;
  }